DAS_BASE_URL=http://das.i-pv.cn
DAS_USERNAME=your_das_username
DAS_PASSWORD=your_das_password

# 内部固定群 - 机器人 Webhook
WECOM_WEBHOOK=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=your_key

# 内部应用消息 / 外部群发任务 - 企业微信应用凭证
WECOM_CORP_ID=your_wecom_corp_id
WECOM_CORP_SECRET=your_wecom_corp_secret
WECOM_AGENT_ID=1000002
